{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/first.css' %}">
    <title>First</title>
</head>
<body>

    <div class="header">
    <div class="container">
        <div class="header__inner">
        <div class="header__logo">
            <img src="{% static 'images/logo.png' %}"></div>
            <div class="header__search">
            <input class="search" type="text"  placeholder="Search Here...">
            </div>
            <div class="header_link">
                    <a href="#">Basket</a>
                    <a href="#">Sign in</a>
                </div>
            </div>
        </div>
    </div>
    <div class="navigbar">
    <div class="container">
        <nav class="nav">
        <a class="nav_link" href="#">Women</a>
        <a class="nav_link" href="#">Men</a>
        <a class="nav_link" href="#">Brands</a>
        <a class="nav_link" href="#">New</a>
        <a class="nav_link" href="#">Sales</a>
        </nav>
        </div>
    </div>

<div class="info">
         <h1>ABOUT THE PERFUME SHOP</h1>
    <h3>Shopping is an integral part of people's lives these days. But, shopping takes a lot of time and not always people can afford such luxury, due to studies, busy work schedule. <br>
        The benefits of online shopping are becoming more noticeable every day. This not only reduces costs (material, physical, moral), but also significantly saves time. <br>
        Out of habit, of course, people go shopping, and it really seems less expensive than online shopping, but in fact you just need to be familiar with the system through which it is easy and affordable to order many products. <br>
        Therefore, our goal is to help users save time and use a convenient product. We offer customers a website for online shopping of perfumes and care cosmetics. <br>
        Our website offers such services as a wide range of assortment, online consultation from professionals. <br>
        And also the main advantage of the site is an easy transition and navigation. <br>
        Our website consists of 7 pages, such as "women, men, brands, new products, sales, about us and contact us". <br>
        Using this site will save you a lot of time that you can spend on other more important things. </h3>


     <a href="/second">Next page</a>
     </div>

<div class="footer">
        <div class="container">
        <div class="footer__inner">
            <div class="firstcol">
                <div class="theme">CUSTOMER SERVICE</div>
                <div class="pages">
                <a href="#">about us</a>
                    <br>
                <a href="#">contacts</a>
                <br>
                <a href="#">shipping and payment</a>
                <br>
                <a href="#">work with us</a>
                <br>
                </div>
            </div>
            <div class="firstcol">
                 <div class="theme">Conditions</div>
                <div class="pages">
                <a href="#">legal notice</a>
                    <br>
                <a href="#">privacy policy</a>
                    <br>
                <a href="#">cookie policy</a>
                    <br>
                <a href="#">sitemap</a>
               </div>
            </div>

            </div>
            </div>
    </div>
</body>
</html>