{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>perfume shop</title>
    <link rel="stylesheet" href="{% static 'css/men.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Simonetta&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="/home"> <img src="{% static 'images/photo5416067169323694149-removebg-preview%20(1).png' %}"></a>
                </div>

                <div class="header__search">
                    <input class="search" type="text"  placeholder="Search Here...">
                </div>

                <div class="header_link">
                    <a href="#">Basket</a>
                    <a href="#">Sign in</a>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="container">
            <nav class="nav">
               <a class="nav_link" href="/women">Women</a>
                <a class="nav_link" href="/men">Men</a>
                <a class="nav_link" href="#">Skin care</a>
                <a class="nav_link" href="#">New</a>
                <a class="nav_link" href="#">Sales</a>
            </nav>
        </div>
    </div>

<!-- Main content   -->
    <div class="container">
        <div class="products">
            <div class="title">men's fragrances</div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/dolcemen1.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&GABBANA<br></div></a>
                <a href="#"><div class="name_perfume">Light Blue Eau Intense Pour Homme<br></div></a>
                <a href="#"><div class="price">$74.00 - $128.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/dolcemen2.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&GABBANA<br></div></a>
                <a href="#"><div class="name_perfume">The One For Men<br></div></a>
                <a href="#"><div class="price">$72.00 - $122.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/dolcemen3.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&GABBANA<br></div></a>
                <a href="#"><div class="name_perfume">Pour Homme<br></div></a>
                <a href="#"><div class="price">$72.00-$92.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/guccimen1.png' %}"></a><br>
                <a href="#"><div class="brand">GUCCI<br></div></a>
                <a href="#"><div class="name_perfume">Guilty Absolute Pour Homme<br></div></a>
                <a href="#"><div class="price">$85.00 - $138.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/guccimen2.png' %}"></a><br>
                <a href="#"><div class="brand">GUCCI<br></div></a>
                <a href="#"><div class="name_perfume">Gucci By Gucci Pour Homme<br></div></a>
                <a href="#"><div class="price">$73.00 - $91.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/guccimen3.png' %}"></a><br>
                <a href="#"><div class="brand">GUCCI<br></div></a>
                <a href="#"><div class="name_perfume">Guilty Black Pour Homme<br></div></a>
                <a href="#"><div class="price">$80.00 - $100.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/tommen1.png' %}"></a><br>
                <a href="#"><div class="brand">TOM FORD<br></div></a>
                <a href="#"><div class="name_perfume">Ombré Leather Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$49.00 - $190.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/tommen2.png' %}"></a><br>
                <a href="#"><div class="brand">TOM FORD<br></div></a>
                <a href="#"><div class="name_perfume">Noir Extreme<br></div></a>
                <a href="#"><div class="price">$136.00 - $190.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/tommen3.png' %}"></a><br>
                <a href="#"><div class="brand">TOM FORD<br></div></a>
                <a href="#"><div class="name_perfume">Black Orchid Parfum<br></div></a>
                <a href="#"><div class="price">$160.00 - $205.00</div></a>
            </div>

            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/armaniimen1.png' %}"></a><br>
                <a href="#"><div class="brand">ARMANI BEAUTY<br></div></a>
                <a href="#"><div class="name_perfume">Acqua Di Gio Profumo<br></div></a>
                <a href="#"><div class="price">$102.00 - $142.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/armaniimen2.png' %}"></a><br>
                <a href="#"><div class="brand">ARMANI BEAUTY<br></div></a>
                <a href="#"><div class="name_perfume">EMPORIO ARMANI Stronger With You<br></div></a>
                <a href="#"><div class="price">$79.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/armaniimen3.png' %}"></a><br>
                <a href="#"><div class="brand">ARMANI BEAUTY<br></div></a>
                <a href="#"><div class="name_perfume">Armani Code Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$77.00 - $120.00</div></a>
            </div>

            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanelmen1.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">BLEU DE CHANEL Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$98.00 - $165.00</div></a>
            </div>
             <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanelmen2.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">ALLURE HOMME SPORT EAU EXTRÊME Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$98.00 - $128.00</div></a>
            </div>
             <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanelmen3.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">BLEU DE CHANEL Parfum Twist & Spray<br></div></a>
                <a href="#"><div class="price">$130.00</div></a>
            </div>
        </div>
    </div>
<!-- Footer   -->

    <div class="footer">
        <div class="container">
            <div class="footer_inner">
            <div class="for_logo"><a href="home.html"> <img src="{% static 'images/photo5416067169323694149-removebg-preview%20(1).png' %}"></a></div>
            <div class="for_pages">
                <div class="firstcol">
                    <div class="theme">CUSTOMER SERVICE</div>
                    <div class="pages">
                        <a href="/aboutus">about us</a>
                        <br>
                        <a href="/contacts(btstrp)">contacts</a>
                        <br>
                        <a href="#">shipping and payment</a>
                        <br>
                        <a href="#">work with us</a>
                        <br>
                    </div>
                </div>
                <div class="firstcol">
                    <div class="theme">Conditions</div>
                    <div class="pages">
                        <a href="#">legal notice</a>
                        <br>
                        <a href="#">privacy policy</a>
                        <br>
                        <a href="#">cookie policy</a>
                        <br>
                        <a href="#">sitemap</a>
                   </div>
                </div>
                </div>
            <div class="for_end">
            <div class="social">
                <a href="#"><img src="{% static 'images/em.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/face.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/goo.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/inst.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/pint.png' %}" alt=""></a>
            </div>
                <div class="copyr">© 2021 AromaBrands KZ, Inc. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>