{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>perfume shop</title>
    <link rel="stylesheet" href="{% static 'css/women.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Simonetta&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="home.html"> <img src="{% static 'images/photo5416067169323694149-removebg-preview%20(1).png' %}"></a>
                </div>

                <div class="header__search">
                    <input class="search" type="text"  placeholder="Search Here...">
                </div>

                <div class="header_link">
                    <a href="#">Basket</a>
                    <a href="#">Sign in</a>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="container">
            <nav class="nav">
               <a class="nav_link" href="/women">Women</a>
                <a class="nav_link" href="/men">Men</a>
                <a class="nav_link" href="#">Skin care</a>
                <a class="nav_link" href="#">New</a>
                <a class="nav_link" href="#">Sales</a>
            </nav>
        </div>
    </div>

<!-- Main content   -->
    <div class="container">
        <div class="products">
            <div class="title">women's fragrances</div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/dolce1.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&GABBANA<br></div></a>
                <a href="#"><div class="name_perfume">Dolce Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$29.00 - $122.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/dolce2.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&GABBANA<br></div></a>
                <a href="#"><div class="name_perfume">The Only One Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$29.00 - $122.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/dolce3.png' %}"></a><br>
                <a href="#"><div class="brand">DOLCE&GABBANA<br></div></a>
                <a href="#"><div class="name_perfume">3 L’IMPERATRICE Eau de Toilette<br></div></a>
                <a href="#"><div class="price">$82.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/gucci1.png' %}"></a><br>
                <a href="#"><div class="brand">GUCCI<br></div></a>
                <a href="#"><div class="name_perfume">Flora By Gucci - Gorgeous Gardenia<br></div></a>
                <a href="#"><div class="price">$34.00 - $115.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/gucci2.png' %}"></a><br>
                <a href="#"><div class="brand">GUCCI<br></div></a>
                <a href="#"><div class="name_perfume">Bloom Eau de Parfum For Her<br></div></a>
                <a href="#"><div class="price">$34.00 - $138.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/gucci3.png' %}"></a><br>
                <a href="#"><div class="brand">GUCCI<br></div></a>
                <a href="#"><div class="name_perfume">Guilty Love Pour Femme Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$108.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/tom1.png' %}"></a><br>
                <a href="#"><div class="brand">TOM FORD<br></div></a>
                <a href="#"><div class="name_perfume">Lost Cherry<br></div></a>
                <a href="#"><div class="price">$75.00 - $499.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/tom2.png' %}"></a><br>
                <a href="#"><div class="brand">TOM FORD<br></div></a>
                <a href="#"><div class="name_perfume">Velvet Orchid<br></div></a>
                <a href="#"><div class="price">$49.00 - $190.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/tom3.png' %}"></a><br>
                <a href="#"><div class="brand">TOM FORD<br></div></a>
                <a href="#"><div class="name_perfume">Bitter Peach Eau De Parfum<br></div></a>
                <a href="#"><div class="price">$75.00 - $368.00</div></a>
            </div>

            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/armanii2.png' %}"></a><br>
                <a href="#"><div class="brand">ARMANI BEAUTY<br></div></a>
                <a href="#"><div class="name_perfume">My Way Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$29.00 - $128.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/armanii3.png' %}"></a><br>
                <a href="#"><div class="brand">ARMANI BEAUTY<br></div></a>
                <a href="#"><div class="name_perfume">Acqua di Gioia<br></div></a>
                <a href="#"><div class="price">$28.00 - $101.00</div></a>
            </div>
            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/armanii1.png' %}"></a><br>
                <a href="#"><div class="brand">ARMANI BEAUTY<br></div></a>
                <a href="#"><div class="name_perfume">Sì Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$29.00 - $128.00</div></a>
            </div>

            <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanel1.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">CHANCE EAU TENDRE Eau de Toilette<br></div></a>
                <a href="#"><div class="price">$62.00 - $115.00</div></a>
            </div>
             <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanel2.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">COCO MADEMOISELLE Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$82.00 - $138.00</div></a>
            </div>
             <div class="products_inner">
                <a href="#" class="imgss"><img src="{% static 'images/chanel3.png' %}"></a><br>
                <a href="#"><div class="brand">CHANEL<br></div></a>
                <a href="#"><div class="name_perfume">N°5 Eau de Parfum<br></div></a>
                <a href="#"><div class="price">$82.00 - $138.00</div></a>
            </div>
        </div>
    </div>
<!-- Footer   -->

    <div class="footer">
        <div class="container">
            <div class="footer_inner">
            <div class="for_logo"><a href="home.html"> <img src="{% static 'images/photo5416067169323694149-removebg-preview%20(1).png' %}"></a></div>
            <div class="for_pages">
                <div class="firstcol">
                    <div class="theme">CUSTOMER SERVICE</div>
                    <div class="pages">
                        <a href="/aboutus">about us</a>
                        <br>
                        <a href="/contacts(btstrp)">contacts</a>
                        <br>
                        <a href="#">shipping and payment</a>
                        <br>
                        <a href="#">work with us</a>
                        <br>
                    </div>
                </div>
                <div class="firstcol">
                    <div class="theme">Conditions</div>
                    <div class="pages">
                        <a href="#">legal notice</a>
                        <br>
                        <a href="#">privacy policy</a>
                        <br>
                        <a href="#">cookie policy</a>
                        <br>
                        <a href="#">sitemap</a>
                   </div>
                </div>
                </div>
            <div class="for_end">
            <div class="social">
                <a href="#"><img src="{% static 'images/em.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/face.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/goo.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/inst.png' %}" alt=""></a>
                <a href="#"><img src="{% static 'images/pint.png' %}" alt=""></a>
            </div>
                <div class="copyr">© 2021 AromaBrands KZ, Inc. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>