
body{
	background-color: white;
    font-family: 'Balsamiq Sans';
    width: 100%;
    margin: 0;
    transition: all 0.5s ease-in-out;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
/*Container*/
.container{

	width: 100%;
    max-width: 960px;
	margin: 10px auto;
    display: flex;

}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
}
.header__inner{
    display: flex;
    padding-top: 35px;
    padding-bottom: 37px;
	justify-content: space-between;
	align-items: center;
    width: 100%;
    margin: auto;
    max-width: 100%;
}
.header__logo{
    width: 35%;
    height: 100%;
    object-fit: contain;
    display: flex;
}
.header__search{
    width: 35%;
    max-height: 100%;
    display: flex;
}
.header_link{
    width: 30%;
    display: flex;
    justify-content: space-between;

}
.header_link a{
    font-size: 120%;
    align-items: center;
    text-decoration: none;
    margin-left: 20%;
    color: white;
    display: flex;
}
.search{
    max-width: 100%;
    width: 300px;
    height: 30px;
    font-size: 12px;
    font-family:'Montserrat';
    border-radius: 2px;
    background-color:white;
}
.navbar{
    height: 60px;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 960px;
    padding-top: 18px;
    margin-left: 10px;
}
.nav_link{
    margin-top: 19px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color:black;

}
/*
.video{
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(auto-fit, minmax(290px,1fr));
}
.video video{
    height: 100%;
    width: 100%;
}*/
.main_img img{
    display: flex;
    max-width:100%;
    height: 100%;
    margin-top: 55px;
    justify-content: space-between;
    align-items: center;



}
.phrase{
    width:75%;
    align-items: center;
    margin-top: 13%;
    margin-left: 12%;
    margin-bottom: 13%;

}
.text{
    font-size: 150%;
    align-items: center;
    text-align: center;
}
.columns{
    display: flex;
}
.photo {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #c0c0c0;
    overflow: hidden;

}

.imgs:hover img{
    transform: scale(1.3);
}

.imgs img{
     margin-bottom: 5%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}


.cursor {
    cursor: pointer;
}

.pre_footer {
    width: 100%;
    min-height: 400px;
    margin: auto;
}

.pre_footer_inner {
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pre_footer_inner img {
    width: 200px;
}
/*Footer*/
.footer{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.for_pages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid white;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.social{
    text-align: center;
    padding-top: 5%;
}
.firstcol{
    width: 480px;
    margin-bottom: 4%;
}
.pages a{
    display:block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: 'Mulish', sans-serif;
}
.theme{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: white;
    font-family: 'Mulish', sans-serif;
}
.for_logo{
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-left: 35%;
    margin-top: 3%;
    margin-bottom: 4%;
}
.for_end{
    justify-content: space-between;
    align-items: center;
    padding-left: 35%;
    padding-right: 35%;
    margin-top:4%;
}
.copyr{
    font-family: 'Mulish', sans-serif;
    color: white;
    text-align: center;
    padding-top: 2%;
}
.social img{
    margin-left: 10px;
    margin-bottom: 10px;
}
.social img:hover{
    background: #494949;
    border-radius: 50%;
}